/*Universal Selector*/
* {
    margin:0;
    box-sizing: border-box;
    padding:0;
  
}

/*Element Selectors*/
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.5rem;
    background-color:whitesmoke;
}

/*Class Selectors*/
.search-column{
    background-color:	#D3D3D3;
}

.list-group-item{
    line-height: 0.5rem;
    border: none;
}
.card-body{
    flex:auto
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}

.border {
 border: 2px solid gray;

}

#fiveday-container{
    flex-wrap: wrap;
}